@import 'normalize';
@import 'colors';

html{
	font: 16px/1.5 "optima", "futura medium", "arial", sans-serif;
}
//Titre des "untilted"
h2{
	position: absolute;
	text-indent: -200em;
}
//Style
h3{
	font-size: 0.85em;
	text-transform: uppercase;
	color: $titre;
	margin: 0;
	padding: 1.5em 0 0.5em 1.5em;
}
p{
	margin: 0;
	padding: 0 0 0.8em 0;
}
ul{
	margin: 0 0 0 1.6em;
	padding: 0 0 0.6em 0;
	li{
		list-style-type: none;
		background: transparent url(images/sprite1.png) no-repeat -1.4em 0.25em;
		padding: 0.3em 0 0 1.85em;
	}
	.tel{
		list-style-type: none;
		background: transparent url(images/sprite1.png) no-repeat -1.4em -338px;
		padding: 0.3em 0 0 1.85em;
	}
	.mail{
		list-style-type: none;
		background: transparent url(images/sprite1.png) no-repeat -1.4em -292px;
		padding: 0.3em 0 0 1.85em;
	}
	.mark{
		list-style-type: none;
		background: transparent url(images/sprite1.png) no-repeat -1.4em -245px;
		padding: 0.3em 0 0 1.85em;
	}
}

//Responsive Design
@import 'smartphone';
@import 'tablettePortrait';
//@import 'tablettePaysage';
@media screen and (min-width: 780px) and (max-width: 959px){
	body{
		font-size: 1.25em; //20
		header{
			position: relative;
			height: 15em;
			#logo{
				position: absolute;
				left: 42px;
				top: 2.75em;
			}
		}
		nav{
			width: 40%;
			float: left;
			ul{
				margin: 0;
				padding: 0 0 0 5%;
				z-index: 100;
				li{
					background-image: none;
					padding: 1em 0.25em;
					a{
						text-decoration: none;
						color: $titre;
						text-transform: uppercase;
						font-size: 0.85em;
					}
				}
			}
		}
		#content{
			width: 60%;
			float: right;
			margin: 0 auto;
			.galerie{
				width: 90%;
				margin: 0 auto;
				a{
					img{
						margin: 0 2em 1em 0;
					}
				}
			}
			form{
			width: 100%;
				fieldset{
					div{
						padding: 0.25em 0;
						text-align: left;
						label{
							font-size: 0.8em;
						}
						input{
							width: 96%;
							border: 0.15em solid $contact;
						}
					}
					.textarea{
						text-align: left;
						padding-top: 1em;
					}
					.submit input{
						width: 4.4em;
						text-align: right;
					}
					textarea{
						width: 96%;
						height: 8em;
						border: 0.15em solid $contact;
					}
				}
			}
		}
		#page:after{
			display: block;
			content: "";
			clear: both;
		}
	}
}

//@import 'allScreen';